.content-container{
    width: 1005;
}
.blog {
    width: 100%;
    margin: 0 auto;
    /* background-color: #f5f5f4; */
    padding-top: 55px;
    padding-left: 70px;
    border-radius: 20px;
    background-image: url(../images/Homeimg/newsletter-bg.png);
}

.blog1 {
    display: flex;
    width: 100%;
    padding-bottom : 30px; 

}

.img-blog1 {
    width: 37%;
    height: 450px;
}

.img-blog1 img {
    width: 100%;
    height: 100%;
}

.title-blog1 {
    width: 50%;
    position: relative;
    top: 20%;
    left: 5%;
}

.title-blog1 h1 {
    font-weight: bold;
}

.title-blog1 h1:hover {
    color: #ff5740;
}


.title-blog1 p {
    font-size: 18px;
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title-blog1 button {
    width: 150px;
    height: 45px;
}

.title-blog1 .title-blog3 i {
    font-size: 16px;
}

.title-blog1 button:hover {
    background-color: white;
    color: black;

}

.blog2 {
    display: flex;
    width: 100%;
    padding-bottom: 30px; 
}

.title-blog2 {
    width: 55%;
    position: relative;
    top: 30%;
    padding-left: 20px;
    padding-right: 20px;
}

.title-blog2 h1 {
    font-weight: bold;
}

.title-blog2 h1:hover {
    color: #ff5740;
}

.title-blog2 p {
    font-size: 16px;
    text-align: justify;

}

.title-blog2 button {
    width: 150px;
    height: 45px;
    text-transform: uppercase;
}

.img-blog2 {
    width: 37%;
}

.img-blog2 img {
    width: 100%;
    height: 100%;
}

.blog3 {
    display: flex;
    width: 100%;
    height: 500px;
}

.img-blog3 {
    width: 34%;
    height: 455px;
}

.img-blog3 img {
    width: 100%;
    height: 100%;
}

.title-blog3 {
    width: 50%;
    position: relative;
    top: 25%;
    left: 5%;
}

.title-blog3 p {
    text-align: justify;
}

.title-blog3 h1:hover {
    color: #ff5740;
}

.title-blog3 input {
    width: 400px;
    height: 45px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;

}

.title-blog3 button {
    width: 100px;
    height: 45px;
    position: relative;
}

#myBtn {
    padding: 15px 15px;
    background-color: black;
    transition: all 0.5s ease;
    position: absolute;
    cursor: pointer;
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 99;
    display: block;
    font-size: 18px;
    display: none;
}
#myBtn:hover {
    background-color: #DE3241 ;
    color: white; 
    border: 2px solid black ;
}

#myBtn >i {
    color: white;
}

@media (max-width: 1024px) {

}

@media (max-width: 720px) {
    .blog {
        width: 100%;
        margin: 0 auto;
        /* height: 1600px; */
        /* background-color: #f5f5f4; */
        padding-top: 30px;
        padding-left: 10px;
        border-radius: 20px;
        background-image: url(../images/Header/bground.png);
    }

    .img-blog1 {
        width: 41%;
        height: 310px;
    }

    .title-blog1 h1 {
        margin-bottom: 1px; 
        
    }

    .title-blog2 {
        width: 55%;
        position: relative;
        top: 30%;
        padding-left: 5px;
        padding-right: 8px;
    }

    .img-blog2 {
        width: 41%;
     
        height: 310px;
    }

    .content-blog {
        height: 1500px !important; 
    }

    .img-blog3 {
        width: 41%;
        height: 310px;
    }

    .title-blog3 {
        width: 53%;
        position: relative;
        top: 0;
        padding-left: 0px;
        padding-right: 8px;
    }

    .title-blog3 input {
        margin-bottom: 10px;
        width: 205px;
        height: 45px;
        border-top: none;
        border-left: none;
        border-right: none;
        outline: none;
    }

}